* {
    margin: 0; 
    padding: 0; 
    font-size: 12px;
    font-family: 굴림체,tahoma,verdana,ms sans serif,courier new;
}

/* 공통적용 링크 */
a:link    { color: #0000FF; text-decoration: underline }
a:visited { color: #0000FF; text-decoration: none }
a:hover   { color: red;     text-decoration: underline }

table {
	border-spacing: 0px;
	border-collapse: collapse;
	border: 0;
}

/* 작업버튼 */
button {
	display: inline-block;
	float: left;
	height: 22px;
	margin: 0px 3px 0px 0px;
	padding: 0px 3px 3px 3px;
	font-weight: bold;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
	white-space: nowrap;
	outline: 0;
}

/* select 개체 */
select {
	height: 21px;
	border-bottom:#999999 1px solid; 
	border-left:  #999999 1px solid; 
	border-right: #999999 1px solid; 
	border-top:   #999999 1px solid; 
}

select, input {
	margin-left: 1px;
	vertical-align: middle;
}
img {
	vertical-align: middle;
}

input[type="checkbox"] {
	width:13px;
	height:13px;
	margin:0;
	padding:0;
	vertical-align:middle;
}

.bodyj {
	margin: 5px 0px 0px 5px;
}

/* 프로그램설명 버튼 */
.Btn_Menual {
	float: right;
	margin-right: 0px;
}

/* input onBlur */
.adb { background-color:white; }
/* input onFocus */
.adf { background-color:#f4f1d9; }

/* table,tr,td 라인 그리기 */
.lirlbt {
	border-right: #000000 1px solid; 
	border-left:  #000000 1px solid; 
	border-bottom:#000000 1px solid; 
	border-top:   #000000 1px solid; 
}

.lilbt {
	border-left:  #000000 1px solid; 
	border-bottom:#000000 1px solid; 
	border-top:   #000000 1px solid; 
}

.lirbt {
	border-right: #000000 1px solid; 
	border-bottom:#000000 1px solid; 
	border-top:   #000000 1px solid; 
}

.lirlt {
	border-right: #000000 1px solid; 
	border-left:  #000000 1px solid; 
	border-top:   #000000 1px solid; 
}

.lirlb {
	border-right: #000000 1px solid; 
	border-left:  #000000 1px solid; 
	border-bottom:#000000 1px solid; 
}

.lirl {
	border-right: #000000 1px solid; 
	border-left:  #000000 1px solid; 
}

.libt {
	border-bottom:#000000 1px solid; 
	border-top:   #000000 1px solid; 
}

.lirt {
	border-right: #000000 1px solid; 
	border-top:   #000000 1px solid; 
}

.lilb {
	border-left:  #000000 1px solid; 
	border-bottom:#000000 1px solid; 
}

.lirb {
	border-right: #000000 1px solid; 
	border-bottom:#000000 1px solid; 
}

.lilt {
	border-left:  #000000 1px solid; 
	border-top:   #000000 1px solid; 
}

.lir {
	border-right: #000000 1px solid; 
}

.lil {
	border-left:  #000000 1px solid; 
}

.lib {
	border-bottom:#000000 1px solid; 
}

.lit {
	border-top:   #000000 1px solid; 
}

.table_btn { width:100%; background-color:#fff; border:#999999 solid 1px; border-bottom:none; }
.table_btn th { height:30px; font-weight:bold; color:#ffffff; text-align:left; padding-left:2px; }
.table_btn td { padding-left:2px; }

.table_opt { width:100%; background-color:#dfdfdf; }
.table_opt th { width:80px; height:24px; border:#999999 solid 1px; text-align:center; font-weight:bold; }
.table_opt td { background-color:#eeeeee; border:#999999 solid 1px; padding-left:2px; }

.table_tit { width:100%; background-color:#dfdfdf; border:#999999 solid 1px; }
.table_tit td { height:24px; border:#999999 solid 1px; padding-left:2px; text-align:center; }

.table_tot { width:100%; background-color:#d2d2d2; border:#999999 solid 1px; }
.table_tot td { height:24px; border:#999999 solid 1px; padding-left:2px; }
.table_tot tr:first-child td { border-top:none; }

/* 상단바 */
.topbar { 
	border: 1px #000000 solid; 
	margin-bottom: 3px;
	padding: 1px 1px 1px 3px; 
}
.topbar td { 
	border-color: #000000; 
}

/* 제목바 */
.btnbar { 
}
.btnbar td { 
	height: 25px;
	vertical-align: top;
}

/* 옵션바 */
.optbar { 
	border: 1px #999999 solid;
	margin-top: 1px;
}
.optbar td { 
	border: 1px #999999 solid; 
}
.opt_name { 
	font-weight: bold; 
	text-align: center;
	width: 80px;
}
.opt_namel { 
	font-weight: bold; 
	text-align: left;
}
.opt_namec { 
	font-weight: bold; 
	text-align: center;
}
.opt_namer { 
	font-weight: bold; 
	text-align: right;
}

/* 출력바 */
.outbar { 
	color: #fff; 
	background-color: #4F81BD; 
	border: 1px #000000 solid; 
	margin-bottom: 1px;
	text-align: center;
}
.outbar td { 
	color: #fff; 
	border: 1px #999999 solid; 
}
.outbar td A:link { color: #fff; }
.outbar td A:visited { color: #fff; }
.outbar td A:hover { color: red; }

/* 전체합계 */
.sumbar { background-color: #366092; color: #fff; }
/* 요약3 */
.sum3 { 
	color: #000; 
	background-color: #95B3D7; 
	border: 1px #999999 solid; 
	margin-bottom: 1px;
}
/* 요약2 */
.sum2 { 
	color: #000; 
	background-color: #B8CCE4; 
	border: 1px #999999 solid; 
	margin-bottom: 1px;
}
/* 요약1 */
.sum1 { 
	color: #000; 
	background-color: #DCE6F1; 
	border: 1px #999999 solid; 
	margin-bottom: 1px;
}
/* 상세 */
.detail { 
	color: #000; 
	background-color: #FFFFFF; 
	border: 1px #999999 solid; 
	margin-bottom: 1px;
}
/*
요약1단: 요약1, 상세
요약2단: 요약2, 요약1, 상세
요약3단: 요약3, 요약2, 요약1, 상세
*/

.sum3 td,
.sum2 td,
.sum1 td,
.detail td { 
	border: 1px #999999 solid; 
}

/* 상세 마우스오버 색상 */
.detail tr:hover, .detailtr:hover { 
	background:#E6E6FA;
}

/* pid 속성 */
.pid {
	float: left;
	inline-height: 25px;
	margin-right: 5px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

/* 프로그램명d 속성 */
.pname {
	float: left;
	inline-height: 25px;
	margin-right: 5px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

/* 즐겨찾기 아이콘 영역 */
#ico-mymenu {
	float: left;
	inline-height: 25px;
	margin-right: 5px;
	padding-top: 3px;
	text-align: center;
	cursor: pointer;
}

#ico-mymenu img {
	vertical-align: middle;
}

/* 로딩바div */
.LoadingBar {
	width: 180px;
	height: 180px;
	top: 40%;
	left: 40%;
	margin:-90 0 0 -90;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.1);
	z-index: 99;
	text-align: left;
	display: none;
}

/* 로딩바div 내부img */
.Loading-image {
	position: absolute;
	z-index: 100;
	top: 0px;
	left:0px;
	text-align: center;
}

.ui-state-def {
	padding-left: 30px; 
	margin: 4px 10px 2px 10px;
	background: #ffffff;
	font-weight: normal;
	color: #454545;
	text-decoration: none;
	font-family:굴림체;
	font-size: 15px; 
}
.ui-state-sub {
	border-bottom: 2px solid #999999;	
	margin: 10px 10px 14px 20px;
	padding-left: 2px; 
	padding-top: 10px; 
	padding-bottom: 5px; 
	background: #ffffff;
	font-weight: normal;
	color: #454545;
	text-decoration: none;
	font-family:굴림체;
	font-size: 20px; 
	font-weight:bold;
}
.ui-state-def a,
.ui-state-def a:link,
.ui-state-def a:visited {
	text-decoration: none;
	color:#000000;
}
