@media print {
    * {
        margin: 0; 
        padding: 0; 
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-print-color-adjust: exact; /* background(백 그라운드) 적용 */
        print-color-adjust: exact;
    }
    html, body { width:210mm; height: 297mm; }
    table { page-break-inside: auto; }
    tr { page-break-inside: avoid; page-break-after: auto; }
    body { margin: 1.6cm; }
}

@page { margin: 0; } /* 머리글과 바닥글 비노출 */
